.crop-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    overflow: hidden;
    aspect-ratio: auto;
}

.react-crop {
    position: relative;
    width: 100%; /* 부모 컨테이너 크기에 맞추기 */
    height: 100%; /* 자동 높이 조정 */
}

.ReactCrop__crop-selection {
    border: 1px solid #fff;
    box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.5);
}

.react-crop img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지 비율 유지 */
    margin: 0 auto;
    border: none; /* 테두리 제거 */
}

.crop-container .crop-actions {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-40px);
    display: flex;
    gap: 10px;
    z-index: 150;
}

.crop-container .crop-actions button {
    font-size: 13px;
    padding: 5px 10px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: white;
    color: black;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.crop-container .crop-actions button:hover {
    transform: scale(1.1);
    background: #CDC6CE;
}
